body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: grey;
  font-family: "Noto Serif Khitan Small Script", sans-serif;
  user-select: none;
  font-family: "Noto Serif Khitan Small Script", sans-serif;
  color: gold;
  position: relative;
}

main {
  margin: 0 auto;
  width: 100vw;
  /* max-width: 1500px; */
  height: 90vh;
  border-radius: 0 0 50% 50%;
  background-image: url("./imgs/table.png");
  background-size: cover;
  text-align: center;
  box-shadow: 0 0 10px black;
  position: relative;
}

h1 {
  margin-top: 100px;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0;
}
p {
  font-size: 2rem;
  width: 70%;
  margin: 10px auto;
  line-height: 1.5;
}
header {
  padding-top: 10px;
}
button {
  margin-top: 100px;
  font-size: 2rem;
  background-color: gold;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  cursor: pointer;
  font-family: "Noto Serif Khitan Small Script", sans-serif;
  line-height: 1.5;
  animation-name: btn-background;
  animation-duration: 1.5s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}
button:hover {
  translate: 0px 3px;
}

button.player-control {
  animation: none;
  font-size: 1.2rem;
  margin-top: 40px;
  word-spacing: -7px;
}
@keyframes btn-background {
  0% {
    background-color: gold;
    color: black;
  }

  50% {
    background-color: orangered;
    color: white;
    box-shadow: 0 0 20px white;
  }
  100% {
    background-color: yellow;
    color: black;
  }
}

/* level headers */
.level1,
.level2,
.level3,
.game-area {
  display: none;
}

/* game area */

.game-area {
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.dealer-cards,
.player-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.dealer p {
  color: rgb(255, 215, 0, 0.7);
}

.placeholder,
.card {
  width: 13%;
  max-width: 170px;
  min-width: 150px;
  aspect-ratio: 5/7;
  border: 2px solid black;
  border-radius: 10px;
}

.dealer-cards img {
  opacity: 0.7;
}
/* rules and timer elements */
.rules {
  bottom: 10px;
  left: 0;
  cursor: pointer;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  border-radius: 10px;
  width: 100px;
}

.rules:hover {
  background-color: white;
}
.rules p {
  font-size: 1.5rem;
}
.timer {
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5em 1em;
  border-radius: 10px;
  display: none;
}

/* text effect turning letters */
.waviy {
  margin-top: 20px;
  position: relative;
  font-family: "Rye", cursive;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: gold;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

@media (max-width: 800px) {
  main {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  h1 {
    font-size: 2rem;
    line-height: 1.5;
  }
  .waviy span {
    font-size: 40px;
  }
}
